html,
body {
  background-color: #21232a;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  font-size: 1.3rem;
  margin-right: 5px;
  padding: 15px;
}
